//colors
$color_mine_shaft_approx: #333;
$color_lochmara_approx: #08c;
$color_mountain_mist_approx: #999;
$white: #fff;
$color_white_lilac_approx: #f6f9fc;
$color_log_cabin_approx: #222;
$color_scotch_mist_approx: #ffd;
$color_surf_approx: #bdb;
$color_snowy_mint_approx: #dfd;
$color_suva_gray_approx: #888;
$color_storm_dust_approx: #666;
$color_california_approx: #e90;
$color_aqua_haze_approx: #ecf2f5;
$color_periwinkle_gray_approx: #bcd;
$color_pattens_blue_approx: #e4eeff;
$color_pink_swan_approx: #bbb;
$color_gallery_approx: #eee;
$red: #f00;
$color_curious_blue_approx: #1794d1;
$color_picton_blue_approx: #3ad;
$color_bondi_blue_approx: #08b;
$black: #000;
$color_pacific_blue_approx: #09c;
$color_crusta_approx: #ff8040;
$color_fuscous_gray_approx: #555;
$color_celeste_approx: #ccc;
$color_japanese_laurel_approx: #008000;
$color_pizazz_approx: #ff8c00;
$gray: #808080;
$color_royal_purple_approx: #639;

//fonts
$font_0: sans-serif;
$font_1: sans-serif;
$font_code: monospace;
$font_pre: monospace;

//data-uris
$img_updown: "data:image/gif;base64,R0lGODlhFQAJAIAAACMtMP///yH5BAEAAAEALAAAAAAVAAkAAAIXjI+AywnaYnhUMoqt3gZXPmVg94yJVQAAOw==";
$img_up: "data:image/gif;base64,R0lGODlhFQAEAIAAACMtMP///yH5BAEAAAEALAAAAAAVAAQAAAINjI8Bya2wnINUMopZAQA7";
$img_down: "data:image/gif;base64,R0lGODlhFQAEAIAAACMtMP///yH5BAEAAAEALAAAAAAVAAQAAAINjB+gC+jP2ptn0WskLQA7";

//urls
$url_0: url("../archnavbar/archlogo.png");
$imgurl_rss: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAmVJREFUeNqkUztoFEEY/nZ29/YeMZFNLg8D4TQghMTiTEJA1MZCBItoEKxEsLBWlJQiFoJCCrGwS6m9GFBBIeCRQsXTSjTm8iLR3JE775Hd25kd/9llcxAFBRc+ZpiZ79vvf2kf79r4n8/whURH5uh73WrLimYDTI/Rsdx9IH2xhyKhMQPcrb2rrn4aMwTdO5VS9tDgZ7pigLmPZPfT2kFrO6ENYHEQq6XhbGBxoTCquIbgEtXNAkR3lR7GkDhXICEf0vkBv/4Nsr4Mv/wB0gvvg8/sQ734MgyB89Cu76nVpT9p0JSTeA/0eDdgT0D2T4IvP4bYygF6gt7oiHgG98KNaIbi87f1YE2mR9A1NIm+8auIJXtgHLwESTniWwtBWBGPcc+HghJQOHlL4PjNdRw5ew/m9lvkH42jspIjYwzG4GX4zg6FVkLEY7wpoSDIvUKgmuyFNXAa/eefYeTUDSw+mULz53cwM0UhjYNXNhHxmEdWFKKDF9cZ5u9kUHh9Pwwlew2ZwxNYnZ8hF5SfQGADEe83B8NpYEBbQfH5NJZezYQiY9PgSyrrGmKdQ/DKWy0He3PQeWEOvRfn0E3JLuceBAJW3yj07a/BXk/a4LXabg6CKhhWAsLjqu3Q8PTdqqTECp5eYaqyGKKKRvvhXhY0F3d3wj5IpW0wy4Rwasg/nAwEMnYKJr0bOdBqQLWXPocWS8Fqb6eGXAs70XWaufxa2zEjZsNIkndf4kvjD5PDNHAqI3ddsu++UdxgFqZm10/QdSehS4X5lwFU01UklGbPGNCklEF5VFeqLv/HKfYIXHF/CTAArbA40lTurmoAAAAASUVORK5CYII=");

/* vim: set ai ts=4 sw=4 et: */
